{
  "printWidth": 820,
  "tabWidth": 2,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "singleQuote": true,
  "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": {
        "parser": "blade"
      }
    }
  ]
}
